<main class="page__main">
  <form class="form" action="get" method="get">
    <label for="search"></label>
    <input
      id="search"
      type="text"
      class="main__input js-input"
      placeholder="¡Encuentra tu serie!"
    />
    <button type="submit" class="main__button js-button">Buscar</button>
  </form>
  <div class="main__container js-container">
    <div class="fav__container">
      <h2 class="fav__container__title">Mis series favoritas</h2>
      <ul class="fav__container__info js-fav-container-info hidden"></ul>
    </div>

    <div class="list__container">
      <h2 class="list__container__title">Series buscadas</h2>
      <ul class="list__container__info js-list-container-info"></ul>
    </div>
  </div>
</main>
